{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet">
    <link href="{% static 'img/favicon_io/favicon.ico' %}" rel="icon">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script defer src="{% static '@fortawesome/fontawesome-free/js/brands.js' %}"></script>
    <script defer src="{% static '@fortawesome/fontawesome-free/js/solid.js' %}"></script>
    <script defer src="{% static '@fortawesome/fontawesome-free/js/fontawesome.js' %}"></script>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'fullcalendar/locales-all.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listYear'
                },

                height: 550,

                locale: 'pt-br',

                events: [
                    {% for event in object_list %}
                    {
                        title: 'Aniversário do(a) {{ event.aniversariante }}',
                        start: '{{ event.get_date }}',
                        pk: {{ event.pk }},
                    },
                    {% endfor %}
                ],
                dateClick: (date, jsEvent, view) => {
                    <!-- Quando clica numa data vazia  -->
                    $('#id_dt_aniversario').val(date.dateStr)
                    $('#novoAniversario').modal('show')
                },

                eventClick: (info) => {
                    <!-- Quando clica em um aniversário -->
                    let pk_ = info.event._def.extendedProps.pk
                    let title_ = info.event._def.title.replace('Aniversário do(a) ', '')
                    let infoEvent = info.event._instance.range.end
                    let year = infoEvent.getFullYear()
                    let month = (infoEvent.getMonth() < 9) ? '0' + (infoEvent.getMonth() + 1) : (infoEvent.getMonth() + 1)
                    let day = infoEvent.getDate()
                    let date_ = `${year}-${month}-${day}`
                    $("#modalChoices").modal('show')

                    $("#delete_event").attr({"href": "{% url 'aniversarios:aniversario_delete' 1 %}".replace('1', pk_)})
                    $("#edit_event").attr({"action": "{% url 'aniversarios:aniversario_edit' 1 %}".replace('1', pk_)})

                    $('#aniversariante').val(title_)
                    $('#dt_aniversario').val(date_)
                },
            });
            calendar.render();
        });
    </script>
</head>
<body>
<div class="container">
    {% include 'aniversarios/navbar.html' %}
    {% include 'aniversarios/modals.html' %}

    <div id='calendar' class="mt-4 mb-5"></div>

    {% include 'aniversarios/footer.html' %}

    <script type="application/javascript" src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</div>
</body>
</html>