<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Acompanhe o meu trabalho:</span>
        </div>

        <div>
            <a href="https://gitlab.com/jailtonsilva" target="_blank" class="me-4 text-reset">
                <i class="fab fa-gitlab"></i>
            </a>
            <a href="https://www.linkedin.com/in/jailton-silva-01235a18b/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Jailtons7" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 pb-3">
                        <i rel="icon"></i>Aniversários
                    </h6>
                    <p>
                        Aqui você consegue cadastrar suas próximas festas de aniversário.
                        É super simples e divertido!
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Tecnologias
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Python</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Django</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Postgres</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Javascript</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <div class="text-uppercase fw-bold mb-4">
                        &nbsp;
                    </div>
                    <p>
                        <a href="#!" class="text-reset">Bootstrap</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">FullCalendar</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">SQLite</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Jquery</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contato
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Rua da Paz, Benedito Bentes, Maceió-AL, BR.<br> CEP: 57085-140</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        jailtonsouza7@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +55 82 98843 22817</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="{% url 'aniversarios:aniversarios_list' %}">Aniversários.com</a>
    </div>
</footer>
