{# Modal de escolha de ações #}
<div class="modal fade" id="modalChoices" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChoicesLabel">Escolha uma ação</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="edit_event" href="#" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                    Editar
                </a>
                <button id="delete_modal" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    Excluir
                </button>
            </div>
        </div>
    </div>
</div>

{# Modal de criação de Aniversário #}
<div class="modal fade" id="novoAniversario" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novoAniversarioLabel">Adicione um Novo Aniversário</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'aniversarios:aniversarios_list' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="id_{{ field.name }}" class="col-form-label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    {% endfor %}

                    <div class="float-right mt-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{# Modal de deletar aniversário #}
<div class="modal fade" id="modalDelete" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Deseja realmente deletar este Aniversário?</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>

                <a id="delete_event" href="#" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    Sim
                </a>
            </div>
        </div>
    </div>
</div>

{# Modal de editar aniversário #}


<script type="application/javascript">
    $(document).on('click', '#delete_modal', () => {
        $('#modalChoices').modal('hide')
        $('#modalDelete').modal('show')
    })
</script>
